parameters:
   level: 8
   paths:
      - src
   ignoreErrors:
      - '#Class Talis\\Chain\\aChainLink referenced with incorrect case: Talis\\Chain\\AChainLink.#'
      - '#Method Talis\\TalisMain::nextLinkInchain\(\) should return Talis\\commons\\iRenderable#'
