@CHARSET "UTF-8";
.row{
	color: #111111;	
}

h3{
	color: white;
}

.get-param-inp{
	width: 400px;
	border-style: none;
}

.run-test-btn{
	background-color: #f94d86;
	width: 400px;
	height: 380px;
	border-style: none;
	font-size: 4em;
	margin-bottom: 20px;	
}

.test-response-panel{
	background-color: white;
	width: 400px;
	height: 200px;
}
